{
  "openapi": "3.1.0",
  "info": {
    "title": "Adraa Inbox API",
    "description": "Public REST API for Adraa Inbox. Assign agents to conversations and send messages from your own systems. Authenticate every request with a workspace API token.",
    "version": "1.0.0",
    "contact": {
      "email": "support@adraa.ai"
    }
  },
  "servers": [
    {
      "url": "https://api.inbox.adraa.ai",
      "description": "Production"
    }
  ],
  "security": [
    {
      "apiToken": []
    }
  ],
  "paths": {
    "/api/v1/me": {
      "get": {
        "summary": "Verify token",
        "description": "Returns the workspace and token associated with the API token used to authenticate the request. Use this endpoint to confirm a token works before wiring up an integration.",
        "operationId": "getMe",
        "responses": {
          "200": {
            "description": "Token is valid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "company": {
                      "type": "object",
                      "description": "The workspace this token belongs to.",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Workspace ID.",
                          "example": "cmbxgvq1e0000ph01a2b3c4d5"
                        },
                        "name": {
                          "type": "string",
                          "description": "Workspace name.",
                          "example": "acme"
                        }
                      }
                    },
                    "token": {
                      "type": "object",
                      "description": "The API token used for this request.",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Token ID.",
                          "example": "cmbxh1k3a0001ph01e6f7g8h9"
                        },
                        "name": {
                          "type": "string",
                          "description": "Token name set when it was created.",
                          "example": "CRM integration"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v1/agents": {
      "get": {
        "summary": "List agents",
        "description": "Lists the active agents of the workspace, including the workspace AI agent when one exists. Use this to look up agent IDs for assignment.",
        "operationId": "listAgents",
        "responses": {
          "200": {
            "description": "Workspace agents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agents": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Agent"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Add an agent",
        "description": "Adds an agent to the workspace. If no Adraa Inbox account exists for the email, one is created — no invite email is sent; the person signs in at the console with a one-time code sent to that email. If an account already exists, it is added to the workspace with the given role (the existing display name is kept).\n\nRate limit: 30 requests per minute.",
        "operationId": "createAgent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email"],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "The agent's sign-in email.",
                    "example": "sara@acme.com"
                  },
                  "nickname": {
                    "type": "string",
                    "maxLength": 60,
                    "description": "Display name, unique across Adraa Inbox. Generated from the email when omitted. Ignored if the email already has an account.",
                    "example": "sara"
                  },
                  "role": {
                    "type": "string",
                    "enum": ["agent", "admin"],
                    "default": "agent",
                    "description": "Workspace role."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agent added to the workspace",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent": {
                      "$ref": "#/components/schemas/Agent"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "description": "Email already a member, or display name taken",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "alreadyMember": {
                    "summary": "Email already belongs to a workspace member",
                    "value": {
                      "error": {
                        "code": "AGENT_ALREADY_MEMBER",
                        "message": "An agent with this email is already a member of the workspace"
                      }
                    }
                  },
                  "nicknameTaken": {
                    "summary": "Display name already in use",
                    "value": {
                      "error": {
                        "code": "NICKNAME_TAKEN",
                        "message": "That display name is already in use"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agents/{agentId}": {
      "get": {
        "summary": "Get an agent",
        "description": "Returns one active agent of the workspace.",
        "operationId": "getAgent",
        "parameters": [
          {
            "$ref": "#/components/parameters/agentId"
          }
        ],
        "responses": {
          "200": {
            "description": "The agent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent": {
                      "$ref": "#/components/schemas/Agent"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/AgentNotFound"
          }
        }
      },
      "patch": {
        "summary": "Update an agent",
        "description": "Updates an agent's workspace role and/or display name. The role is scoped to this workspace; the display name is the agent's global name across Adraa Inbox. At least one field is required.\n\nThe workspace must keep at least one admin, and platform-managed agents (the AI agent) cannot be modified.\n\nRate limit: 30 requests per minute.",
        "operationId": "updateAgent",
        "parameters": [
          {
            "$ref": "#/components/parameters/agentId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nickname": {
                    "type": "string",
                    "maxLength": 60,
                    "description": "New display name, unique across Adraa Inbox.",
                    "example": "sara"
                  },
                  "role": {
                    "type": "string",
                    "enum": ["agent", "admin"],
                    "description": "New workspace role."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated agent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent": {
                      "$ref": "#/components/schemas/Agent"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Demoting the last admin, or a platform-managed agent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "LAST_ADMIN",
                    "message": "The workspace must keep at least one admin"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/AgentNotFound"
          },
          "409": {
            "description": "Display name already in use",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "NICKNAME_TAKEN",
                    "message": "That display name is already in use"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Remove an agent",
        "description": "Removes an agent from the workspace. Their Adraa Inbox account and message history remain; they simply lose access to this workspace. Re-adding the same email restores access.\n\nThe workspace must keep at least one admin, and platform-managed agents (the AI agent) cannot be removed.\n\nRate limit: 30 requests per minute.",
        "operationId": "removeAgent",
        "parameters": [
          {
            "$ref": "#/components/parameters/agentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Removing the last admin, or a platform-managed agent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "LAST_ADMIN",
                    "message": "The workspace must keep at least one admin"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/AgentNotFound"
          }
        }
      }
    },
    "/api/v1/contacts": {
      "get": {
        "summary": "List contacts",
        "description": "Lists everyone who has messaged the workspace, one row per contact, newest activity first. Mirrors the console's Contacts page: the same search, country, channel, assignment, and open-conversation filters, plus facet counts for building filter UIs.\n\nContacts are created automatically when a customer first messages the workspace — they cannot be created or deleted through the API.",
        "operationId": "listContacts",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Matches against the contact's name, email, and phone.",
            "schema": {
              "type": "string",
              "maxLength": 160,
              "example": "sara"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "ISO-3166 alpha-2 country code, derived from the contact's phone number. Use the `facets.countries` of an unfiltered request to see which codes are present.",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2,
              "example": "SA"
            }
          },
          {
            "name": "channel",
            "in": "query",
            "description": "Only contacts who have a conversation on this channel.",
            "schema": {
              "type": "string",
              "enum": ["web", "whatsapp", "facebook", "telegram", "sms", "email"]
            }
          },
          {
            "name": "assignment",
            "in": "query",
            "description": "`assigned` — the contact's latest conversation has an agent; `unassigned` — it does not.",
            "schema": {
              "type": "string",
              "enum": ["assigned", "unassigned"]
            }
          },
          {
            "name": "hasOpen",
            "in": "query",
            "description": "When `true`, only contacts with at least one open conversation.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "1-based page number. Clamped to the last page when out of range.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Contacts per page.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One page of contacts plus facet counts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contacts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contact"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Contacts matching the filters, across all pages.",
                      "example": 124
                    },
                    "page": {
                      "type": "integer",
                      "example": 1
                    },
                    "pageSize": {
                      "type": "integer",
                      "example": 20
                    },
                    "totalPages": {
                      "type": "integer",
                      "example": 7
                    },
                    "facets": {
                      "type": "object",
                      "description": "Counts across the whole directory (unfiltered), for building filter dropdowns.",
                      "properties": {
                        "countries": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "example": "SA"
                              },
                              "count": {
                                "type": "integer",
                                "example": 80
                              }
                            }
                          }
                        },
                        "channels": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "platform": {
                                "type": "string",
                                "example": "whatsapp"
                              },
                              "count": {
                                "type": "integer",
                                "example": 95
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v1/contacts/{contactId}": {
      "get": {
        "summary": "Get a contact",
        "description": "Returns a contact's full profile: identity and custom fields, the automation flows that ran for them, and the internal notes agents left about them.",
        "operationId": "getContact",
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "responses": {
          "200": {
            "description": "The contact's profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contact": {
                      "$ref": "#/components/schemas/ContactProfile"
                    },
                    "flows": {
                      "type": "array",
                      "description": "Automation flow runs for this contact, newest first (up to 25).",
                      "items": {
                        "$ref": "#/components/schemas/FlowRun"
                      }
                    },
                    "notes": {
                      "type": "array",
                      "description": "Internal agent notes, newest first. Never visible to the customer.",
                      "items": {
                        "$ref": "#/components/schemas/ContactNote"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/ContactNotFound"
          }
        }
      },
      "patch": {
        "summary": "Update a contact",
        "description": "Updates a contact's display name and/or custom fields — useful for enriching contacts from a CRM. Custom fields are merged key by key: provided keys overwrite, a `null` value removes the key, and keys you don't send are kept. At least one of `name` or `customFields` is required.\n\nRate limit: 30 requests per minute.",
        "operationId": "updateContact",
        "parameters": [
          {
            "$ref": "#/components/parameters/contactId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 120,
                    "description": "New display name.",
                    "example": "Sara Al-Harbi"
                  },
                  "customFields": {
                    "type": "object",
                    "description": "Keys to merge into the contact's custom fields (max 50 per request). Values may be strings (max 500 chars), numbers, booleans, or `null` to remove the key.",
                    "additionalProperties": {
                      "type": ["string", "number", "boolean", "null"]
                    },
                    "example": {
                      "crmId": "LEAD-2041",
                      "plan": "pro",
                      "legacyField": null
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated contact profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contact": {
                      "$ref": "#/components/schemas/ContactProfile"
                    },
                    "flows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FlowRun"
                      }
                    },
                    "notes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ContactNote"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid body — neither name nor customFields provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/ContactNotFound"
          }
        }
      }
    },
    "/api/v1/conversations": {
      "get": {
        "summary": "List conversations",
        "description": "Lists the workspace's conversations, most recently active first, with cursor pagination. Filter by status, channel, assigned agent, or contact, and search with `q` the same way console search works (subject, customer name/email, and message bodies).",
        "operationId": "listConversations",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "`open` — not closed; `closed`; `unassigned` — open and without an assigned agent; `all` — everything.",
            "schema": {
              "type": "string",
              "enum": ["open", "closed", "unassigned", "all"],
              "default": "all"
            }
          },
          {
            "name": "channel",
            "in": "query",
            "description": "Only conversations on this channel.",
            "schema": {
              "type": "string",
              "enum": ["web", "whatsapp", "facebook", "telegram", "sms", "email"]
            }
          },
          {
            "name": "agentId",
            "in": "query",
            "description": "Only conversations assigned to this agent (list agents with `GET /api/v1/agents`).",
            "schema": {
              "type": "string",
              "example": "cmbxgwq1e0000ph01i0j1k2l3"
            }
          },
          {
            "name": "contactId",
            "in": "query",
            "description": "Only this contact's conversations (list contacts with `GET /api/v1/contacts`).",
            "schema": {
              "type": "string",
              "example": "cmbxgy7kq0002ph01u2v3w4x5"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search term. Matches the subject, the contact's name and email, and message bodies.",
            "schema": {
              "type": "string",
              "maxLength": 160,
              "example": "refund"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "The `nextCursor` from the previous page. Omit for the first page.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Conversations per page.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One page of conversations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "conversations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Conversation"
                      }
                    },
                    "nextCursor": {
                      "type": ["string", "null"],
                      "description": "Pass as `cursor` to fetch the next page. `null` when this is the last page.",
                      "example": "cmbxgz9pq0003ph01m4n5o6p7"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v1/conversations/{conversationId}/assign": {
      "post": {
        "summary": "Assign an agent",
        "description": "Assigns an agent to a conversation. The agent must be an active member of the workspace. Pass `ai` as the `agentId` to assign the workspace's AI agent. Reassigning replaces the current assignment.\n\nRate limit: 60 requests per minute.",
        "operationId": "assignConversation",
        "parameters": [
          {
            "$ref": "#/components/parameters/conversationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["agentId"],
                "properties": {
                  "agentId": {
                    "type": "string",
                    "description": "ID of the agent to assign (list agents with `GET /api/v1/agents`), or `ai` to assign the workspace's AI agent.",
                    "example": "cmbxgwq1e0000ph01i0j1k2l3"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent assigned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "conversationId": {
                      "type": "string",
                      "example": "cmbxgz9pq0003ph01m4n5o6p7"
                    },
                    "assignment": {
                      "type": "object",
                      "description": "The resulting assignment.",
                      "properties": {
                        "agentId": {
                          "type": "string",
                          "example": "cmbxgwq1e0000ph01i0j1k2l3"
                        },
                        "agentNickname": {
                          "type": "string",
                          "example": "sara"
                        },
                        "assignedAt": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-06-12T10:30:00.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request — unknown agent or invalid body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "INVALID_AGENT",
                    "message": "Invalid agent"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Agent belongs to a different workspace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "COMPANY_MISMATCH",
                    "message": "Agent cannot be assigned to different company conversation"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ConversationNotFound"
          }
        }
      }
    },
    "/api/v1/conversations/{conversationId}/messages": {
      "post": {
        "summary": "Send a message",
        "description": "Sends a message to a conversation. The message is delivered on the conversation's channel — web chat, WhatsApp, or email — and appears in the conversation thread as sent by **API**. Sending a message does not change the conversation's assignment.\n\nRate limit: 60 requests per minute.",
        "operationId": "sendMessage",
        "parameters": [
          {
            "$ref": "#/components/parameters/conversationId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["body"],
                "properties": {
                  "body": {
                    "type": "string",
                    "maxLength": 2000,
                    "description": "Message text. Maximum 2000 characters.",
                    "example": "Hi! Your order has shipped and should arrive on Friday."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Message sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "#/components/schemas/Message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "WhatsApp reply window closed or invalid body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "code": "WHATSAPP_SERVICE_WINDOW_CLOSED",
                    "message": "WhatsApp's 24-hour reply window is closed. Send an approved template to reopen the conversation."
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/ConversationNotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "Workspace API token created in Settings → API. Tokens start with `adraa_`."
      }
    },
    "parameters": {
      "agentId": {
        "name": "agentId",
        "in": "path",
        "required": true,
        "description": "ID of the agent. List agents with `GET /api/v1/agents` to find it.",
        "schema": {
          "type": "string",
          "example": "cmbxgwq1e0000ph01i0j1k2l3"
        }
      },
      "conversationId": {
        "name": "conversationId",
        "in": "path",
        "required": true,
        "description": "ID of the conversation. Visible in the console URL when a conversation is open: `app.inbox.adraa.ai/<workspace>/conversations/<conversationId>`, or list conversations with `GET /api/v1/conversations`.",
        "schema": {
          "type": "string",
          "example": "cmbxgz9pq0003ph01m4n5o6p7"
        }
      },
      "contactId": {
        "name": "contactId",
        "in": "path",
        "required": true,
        "description": "ID of the contact. List contacts with `GET /api/v1/contacts` to find it.",
        "schema": {
          "type": "string",
          "example": "cmbxgy7kq0002ph01u2v3w4x5"
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing, invalid, or revoked API token",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "INVALID_API_TOKEN",
                "message": "Invalid or revoked API token"
              }
            }
          }
        }
      },
      "AgentNotFound": {
        "description": "Agent is not an active member of this workspace",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "AGENT_NOT_FOUND",
                "message": "Agent not found in this workspace"
              }
            }
          }
        }
      },
      "ConversationNotFound": {
        "description": "Conversation does not exist or belongs to another workspace",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "CONVERSATION_NOT_FOUND",
                "message": "Conversation not found"
              }
            }
          }
        }
      },
      "ContactNotFound": {
        "description": "Contact does not exist or has never messaged this workspace",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "CONTACT_NOT_FOUND",
                "message": "Contact not found"
              }
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Machine-readable error code."
              },
              "message": {
                "type": "string",
                "description": "Human-readable explanation."
              },
              "details": {
                "description": "Field-level details for validation errors.",
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "field": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Agent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Agent ID — use it for assignment.",
            "example": "cmbxgwq1e0000ph01i0j1k2l3"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "sara@acme.com"
          },
          "nickname": {
            "type": "string",
            "description": "Display name shown in conversations.",
            "example": "sara"
          },
          "role": {
            "type": "string",
            "enum": ["agent", "admin", "ai"],
            "description": "Workspace role. The workspace AI identity is reported as `ai`.",
            "example": "agent"
          },
          "isOnline": {
            "type": "boolean",
            "example": true
          },
          "lastSeen": {
            "type": "string",
            "format": "date-time",
            "example": "2026-06-12T10:25:00.000Z"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-02T08:14:00.000Z"
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Contact ID.",
            "example": "cmbxgy7kq0002ph01u2v3w4x5"
          },
          "name": {
            "type": "string",
            "description": "Display name — the contact's name, or their phone/email when no name is known.",
            "example": "Sara Al-Harbi"
          },
          "email": {
            "type": ["string", "null"],
            "description": "Email address, when known. `null` for contacts who only messaged via WhatsApp.",
            "example": "sara@example.com"
          },
          "phone": {
            "type": ["string", "null"],
            "description": "E.164 phone number, when known.",
            "example": "+966501234567"
          },
          "countryIso": {
            "type": ["string", "null"],
            "description": "ISO-3166 alpha-2 country code derived from the phone number.",
            "example": "SA"
          },
          "channels": {
            "type": "array",
            "description": "Channels this contact has conversations on.",
            "items": {
              "type": "string",
              "enum": ["web", "whatsapp", "facebook", "telegram", "sms", "email"]
            },
            "example": ["whatsapp", "web"]
          },
          "conversationId": {
            "type": ["string", "null"],
            "description": "The contact's most recently active conversation — use it to assign or message them.",
            "example": "cmbxgz9pq0003ph01m4n5o6p7"
          },
          "conversationCount": {
            "type": "integer",
            "example": 3
          },
          "openCount": {
            "type": "integer",
            "description": "Conversations that are not closed.",
            "example": 1
          },
          "lastActivityAt": {
            "type": ["string", "null"],
            "format": "date-time",
            "example": "2026-06-12T10:30:00.000Z"
          },
          "assignedAgent": {
            "type": ["object", "null"],
            "description": "Agent assigned to the contact's latest conversation.",
            "properties": {
              "id": {
                "type": "string",
                "example": "cmbxgwq1e0000ph01i0j1k2l3"
              },
              "nickname": {
                "type": "string",
                "example": "sara"
              }
            }
          }
        }
      },
      "ContactProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "cmbxgy7kq0002ph01u2v3w4x5"
          },
          "name": {
            "type": "string",
            "example": "Sara Al-Harbi"
          },
          "email": {
            "type": ["string", "null"],
            "example": "sara@example.com"
          },
          "phone": {
            "type": ["string", "null"],
            "example": "+966501234567"
          },
          "countryIso": {
            "type": ["string", "null"],
            "example": "SA"
          },
          "avatarUrl": {
            "type": ["string", "null"],
            "example": null
          },
          "channels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": ["whatsapp", "web"]
          },
          "conversationCount": {
            "type": "integer",
            "example": 3
          },
          "openCount": {
            "type": "integer",
            "example": 1
          },
          "firstContactAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the contact first messaged the workspace.",
            "example": "2026-04-18T09:12:00.000Z"
          },
          "customFields": {
            "type": "object",
            "description": "Free-form key/value data attached to the contact — set by the chat widget or through `PATCH /api/v1/contacts/{contactId}`.",
            "additionalProperties": true,
            "example": {
              "crmId": "LEAD-2041",
              "plan": "pro"
            }
          }
        }
      },
      "ContactNote": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "cmbxh3m2b0004ph01y6z7a8b9"
          },
          "body": {
            "type": "string",
            "example": "VIP customer — fast-track any shipping issues."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-06-10T14:02:00.000Z"
          },
          "agent": {
            "type": "object",
            "description": "The agent who wrote the note.",
            "properties": {
              "id": {
                "type": "string",
                "example": "cmbxgwq1e0000ph01i0j1k2l3"
              },
              "nickname": {
                "type": "string",
                "example": "sara"
              }
            }
          }
        }
      },
      "FlowRun": {
        "type": "object",
        "properties": {
          "runId": {
            "type": "string",
            "example": "cmbxh4n3c0005ph01c0d1e2f3"
          },
          "flowId": {
            "type": "string",
            "example": "cmbxh5o4d0006ph01g4h5i6j7"
          },
          "flowName": {
            "type": "string",
            "example": "Order status lookup"
          },
          "conversationId": {
            "type": ["string", "null"],
            "example": "cmbxgz9pq0003ph01m4n5o6p7"
          },
          "status": {
            "type": "string",
            "description": "Run status, e.g. `running`, `completed`, `failed`.",
            "example": "completed"
          },
          "startedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-06-11T08:30:00.000Z"
          },
          "completedAt": {
            "type": ["string", "null"],
            "format": "date-time",
            "example": "2026-06-11T08:31:12.000Z"
          }
        }
      },
      "Conversation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Conversation ID — use it to assign agents or send messages.",
            "example": "cmbxgz9pq0003ph01m4n5o6p7"
          },
          "channel": {
            "type": "string",
            "enum": ["web", "whatsapp", "facebook", "telegram", "sms", "email"],
            "example": "whatsapp"
          },
          "subject": {
            "type": ["string", "null"],
            "description": "Subject line, mainly for email conversations.",
            "example": null
          },
          "status": {
            "type": "string",
            "description": "`open` or `closed`.",
            "example": "open"
          },
          "contact": {
            "type": "object",
            "description": "The customer in this conversation.",
            "properties": {
              "id": {
                "type": "string",
                "example": "cmbxgy7kq0002ph01u2v3w4x5"
              },
              "name": {
                "type": "string",
                "example": "Sara Al-Harbi"
              },
              "email": {
                "type": ["string", "null"],
                "example": "sara@example.com"
              },
              "phone": {
                "type": ["string", "null"],
                "example": "+966501234567"
              }
            }
          },
          "assignment": {
            "type": ["object", "null"],
            "description": "The assigned agent, or `null` when unassigned.",
            "properties": {
              "agentId": {
                "type": "string",
                "example": "cmbxgwq1e0000ph01i0j1k2l3"
              },
              "agentNickname": {
                "type": "string",
                "example": "sara"
              },
              "assignedAt": {
                "type": "string",
                "format": "date-time",
                "example": "2026-06-12T10:30:00.000Z"
              }
            }
          },
          "lastMessage": {
            "type": ["object", "null"],
            "description": "The most recent non-system message.",
            "properties": {
              "id": {
                "type": "string",
                "example": "cmbxh2k3a0001ph01q8r9s0t1"
              },
              "body": {
                "type": "string",
                "example": "Thanks, that fixed it!"
              },
              "senderId": {
                "type": "string",
                "example": "cmbxgy7kq0002ph01u2v3w4x5"
              },
              "senderType": {
                "type": "string",
                "enum": ["customer", "agent"],
                "example": "customer"
              },
              "status": {
                "type": "string",
                "enum": ["sent", "delivered", "read", "failed", "deleted"],
                "example": "read"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time",
                "example": "2026-06-12T10:29:00.000Z"
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-06-10T07:15:00.000Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-06-12T10:30:00.000Z"
          }
        }
      },
      "Message": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Message ID.",
            "example": "cmbxh2k3a0001ph01q8r9s0t1"
          },
          "conversationId": {
            "type": "string",
            "example": "cmbxgz9pq0003ph01m4n5o6p7"
          },
          "senderId": {
            "type": "string",
            "description": "Sender identifier. Messages sent through the API use `api:<tokenId>`.",
            "example": "api:cmbxh1k3a0001ph01e6f7g8h9"
          },
          "senderType": {
            "type": "string",
            "example": "agent"
          },
          "body": {
            "type": "string",
            "example": "Hi! Your order has shipped and should arrive on Friday."
          },
          "replyToMessageId": {
            "type": ["string", "null"],
            "example": null
          },
          "replyQuote": {
            "type": ["object", "null"],
            "example": null
          },
          "metadata": {
            "type": ["object", "null"],
            "description": "Channel delivery metadata. For email conversations this includes the From/To addresses and SES message ID.",
            "example": null
          },
          "status": {
            "type": "string",
            "enum": ["sent", "delivered", "read", "failed", "deleted"],
            "description": "Delivery status. `failed` means the message was stored but could not be delivered on the conversation's channel (for example, the workspace has no verified email domain).",
            "example": "sent"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-06-12T10:30:00.000Z"
          },
          "attachments": {
            "type": "array",
            "description": "Always empty for API-sent messages; attachments are not yet supported.",
            "items": {
              "type": "object"
            },
            "example": []
          },
          "sender": {
            "type": "object",
            "description": "How the sender is displayed in the conversation. API-sent messages show as \"API\".",
            "properties": {
              "id": {
                "type": "string",
                "example": "api:cmbxh1k3a0001ph01e6f7g8h9"
              },
              "nickname": {
                "type": "string",
                "example": "API"
              },
              "company": {
                "type": "string",
                "example": "acme"
              },
              "role": {
                "type": "string",
                "example": "automation"
              }
            }
          }
        }
      }
    }
  }
}
